.portfolio__posts {
    max-width: 1920px;
    min-width: 1200px;
    width: 100%;
    margin: 0 auto;
}



.post__img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.content__posts {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.portolio__post {
    flex: 1 1 30%;
    margin-bottom: -4px;
}


.relative__content {
    position: relative;
}


.background__absolute {
    height: 100%;
    position: absolute;
    width: 100%;
}

.background__absolute img {
    border-style: none;
    max-width: 100%;
    min-width: 100%;
}


.container__what {
    background-image: url('images/layer-10.png');
    position: absolute;
    width: 100%;
    background-size: cover;
    z-index: 5;
    bottom: -5px;
    height: 85px;
}

.what__about-content {
    background: #ffffff;
}