.logo__service-text_brand p {
    text-align: right;
    margin-bottom: -34px;
    margin-top: 20px;
}


.branding__service-case_studies {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}



.logo__service-img_brand {
    position: absolute;
    top: -76px;
    left: -270px;
    width: 1040px;
}

.dside_textContainer-brand div:first-child {
    background-image: linear-gradient(to right, #743c18 60%, #1E1007 100%);
    opacity: 1;
    font-family: MontBold;
    font-size: 161px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin-top: 35px;
    text-transform: uppercase;
    position: relative;
}


.dside_textContainer-brand div:nth-child(3) {
    text-shadow: 0 5px 5px rgba(95, 51, 20, 0.61);
    color: #ffffff;
    font-family: MontBold;
    font-size: 86px;
    width: 100%;
    font-weight: 700;
}

.branding__service-right {
    display: flex;
    flex-direction: column;
}

.branding__service-left {
    z-index: 100;
}

.branding__service-right {
    position: absolute;
    right: 225px;
}


.price__louis {
    background-image: linear-gradient(-252deg, rgba(191, 240, 128, 0.68) 0%, rgba(16, 141, 104, 0.68) 100%); -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #21201f;
    -webkit-background-clip: text;
    font-family: MontBold;
    font-size: 100px;
    font-weight: 700;
}

.price__louis_wrapper {
    display: flex;
    align-items: center;
}

.price__louis {
    margin: 0;
}

.price__louis_wrapper img {
    height: 2px;
}

.title__louis {
    color: #21201f;
    font-family: MontBold;
    font-size: 36px;
    font-weight: 700;
    text-align: right;
    line-height: 31.87px;
}

.loius__viton_title-description {
    color: #101010;
    font-family: MontBold;
    font-size: 35px;
    font-weight: 700;
    text-align: right;
    line-height: 31.87px;
    text-transform: uppercase;
}

.loius__viton_description {
    color: #101010;
    font-family: MontLight;
    width: 650px;
    text-align: right;
    font-size: 36px;
    font-weight: 300;
    line-height: 31.87px;
}

