



.review__container-wrapper {
    background: #F2F3F5;
}

.review__container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;  
    display: flex;
    padding-bottom: 30px;
}

.review__title-wrapper,
.review__grader-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.review__title,
.review__grader {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.review__title,
.review__grader,
.grader__name p,
.get-earlier__button,
.recent__title-grades h3   {
    color: #000000;
    font-family: "MontBold", 'sans-serif' ;
}

.review__image-container img {
    max-width: 100%;
}

.review__image-container {
    width: 850px;
    height: 580px;
    max-width: 100%;
}

.review__grader-img img {
    max-width: 100%;
    border-radius: 50%;
}

.review__grader-img {
    width: 70px;
}


.review__information-left,
.review__information-right {
    flex: 1 1 50%;
}

.review__right-wrapper  {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.review__grader-information {
    display: flex;
    opacity: 0;
}

.review__grader-information.active {
    opacity: 1;
    animation-name: fadeInOpacity;
	animation-timing-function: ease;
	animation-duration: 0.9s;
}

.similar__grades {
    opacity: 0;
}

.similar__grades.active {
    opacity: 1;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.9s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.grader__name p {
    font-size: 12px;
    margin: 0;
}

.grader__position p {
    font-size: 12px;
    margin: 0;
    font-family: 'MontLight', 'sans-serif'
}

.recent__title-grades h3 {
    font-size: 21px;
}

.reviewers__data {
    display: flex;
    flex-direction: column
}



.grades__recents-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.recent__grade-img {
    width: 125px;
    height: 90px;
}

.recent__grade-img img {
    max-width: 100%;
    border-radius: 10px;
}
.reviewers__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.recent__grade-wrapper {
 position: relative;
 cursor: pointer;
}
.recent__grade-date {
position: absolute;
bottom: 10px;
left: 12px;
}

.recent__grade-date span {
    font-size: 12px;
    color: #ffffff;
    font-family: 'MontBold', 'sans-serif' ;
}

.similar__grades {
    background: url('./arrow.png');
    background-repeat: no-repeat;
    height: 350px;
    background-size: contain;
    background-position: 50%;

}




.get-earlier__button {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    height: 17px;
    line-height: 2.5;
}

.get-earlier__button div {
 font-size: 12px;
}

.earlier__button {
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    background: url('./earlier.png');
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 45px;
    background-position: 50%;
    position: relative;
}

.recent__grade > div  {
    position: relative;
}


.slider__wrapper-grade {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent__grade {
    padding-bottom: 91% !important;
}


.similar__grades > div > button {
    border: none;
    background: none;
}

@media screen and (max-width: 1024px) {
    .review__container {
        flex-direction: column;
        align-items: center;
    }

    .grades__recents-review {
        display: none
    }
    .review__information-left {
        order: 1;
    }

    .review__image-container {
            width: auto; 
            height: auto;
            overflow: hidden;
    }

    .grade__head-item:nth-child(3) {
        display: none;
    }

    .grade-information__item {
        display: none;
    }

    .grade-text__description {
        text-align: center;
    }
}

.grade-text__description p {
    color: #000000;
    font-family: 'MontLight', sans-serif;
    font-size: 18px;
    font-weight: 300;
}