
     .background__cookies ul{list-style: square;}
     .background__cookies h5{
         font-size: 40px;
         font-weight: 800;
     }
     .background__cookies p{
         font-weight: 300;
         font-size: 18px;
     }
    .background__cookies strong{
         font-size: 18px;
         font-weight: 600;
     }
     .background__cookies h6{
         font-size: 22px;
         font-weight: 600;
     }