

.container {
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper___layout {
    flex: 1 0 auto;
}

.main__content {
    width: 100%;
     background-color: #F3F3F5;
}

/*body {*/
    /*display: flex;*/
/*}*/


body {
    min-width: 320px;
}


@media screen and (max-width: 1200px ){
    body {
        display: flex;

    }
}