

.container {
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper___layout {
    flex: 1 0 auto;
}

.main__content {
    width: 100%;
     background-color: #F3F3F5;
}

/*body {*/
    /*display: flex;*/
/*}*/

.applyyour img {
    min-width: 40% !important;
}

.applyyour {
    align-self: center;
    cursor: pointer;
}



body {
    min-width: 320px;
}



.page-centered{
    max-width: 1200px;
    margin: 0 auto;

}
.center {
    text-align: center;
}

.order-now-btn{
    display: inline-block;
    background: linear-gradient(right, #7ec622, #72b519);
    color: #fff;
    font-family: Mont;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 71px;
    border-radius: 30px;
    text-align: center;
}