

.ecommerces__quality-wrapper {
    background: #ffffff;
}
.header__container{display: block !important;}
.dside_textContainer-ecommerce .logo__service_slogan{
    max-width: unset;
    font-size: 2.8rem;
    margin: 0 auto;
    top: 118px;
    -webkit-text-fill-color: white;
    text-shadow: 0 5px 5px rgba(95, 51, 20, 0.61);  
    font-weight: 600;
    width: 100%;
    font-weight: 700;
}

.comp-h-right span, .comp-h-left span{ display: none;}
.ecommerces-dev__quality h2{text-align: center; padding-bottom: 1rem; font-weight: 600;}
.ecommerces-dev__quality{display: flex; flex-direction: column;}
.comp-h-left img, .comp-h-right img{width: 68px;}
.comp-h-left span{font-size: .8rem; font-weight: 300; margin-right: 0.2rem;}
.comp-h-mid{    max-width: 220px;
    text-align: center;
    min-width: 205px; width:100%;text-align: center;}
.comp-h-mid span {
    width: 100px;
    display: inline-block;
}    
.comp-h-right span{ font-size: .88rem;}
.headers-ecommerces-comparsion{font-weight: 600;display: flex; flex-direction: row; align-items: center; align-content: center; justify-content: center;}
.comp-h-right, .comp-h-left{display: flex; align-items: center; align-content: center;}
.body-ecommerces-comparsion{display: flex; flex-direction: column; justify-content: center; justify-items: center; align-items: center;}
.roow{display: flex; font-weight: 300; width: 375px; line-height: 2rem;}
.roow span{font-weight: 600; flex-basis: 28%; text-align: center; text-transform: uppercase}
.roow strong{ flex-basis: 43%; font-weight: 300; text-align: center; font-size: .8rem;}
.greygoose{opacity: .4;}
.greater{font-size: 1.4rem;}
.greender{background-image: linear-gradient(to right, #54d917 0%, #134812 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}

.logo__service-img_ecommerce {
    position: absolute;
    margin-top: 180px;
}
.logo__service-text_ecommerce {font-size: 2rem; }
.dside_textContainer-ecommerce .logo__service_slogan{font-size: 2rem; text-align: center}
/* Tablets */

@media only screen and (min-width: 480px) {
    .roow{width: 400px;}
    .comp-h-right span, .comp-h-left span{ display: flex;}
    .logo__service-text_ecommerce {
    background-image: linear-gradient(to right, #743c18 60%, #1E1007 100%);
    opacity: 0.3;
    font-weight: 600;
    font-size: 161px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin-top: 65px;
    text-align: right;
    text-transform: uppercase;
    position: relative;
}
.logo__service-img_ecommerce {
    position: absolute;
}
.comp-h-right span{flex-direction: column;}
}
/* Fullpage */

@media only screen and (min-width: 1400px) {
.dside_textContainer-ecommerce .logo__service_slogan{font-size: 2.6rem; max-width: 100%;}
    .logo__service-img_ecommerce {
    position: absolute;
    margin-top: -10px;
}
}
