/* Tablets */
/* @media only screen and (min-width: 480px) {
    .logopath{fill: #fff;}
} */
.modal-language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    max-width: 75rem;
    border-radius: 4px;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    overflow: hidden;
    -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.modal-language .close-modal {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.modal-language .close-modal svg {
    width: 1.75em;
    height: 1.75em;
}
.modal-language .model-content {
    display: flex;
}
.modal-language.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.9s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.modal-language.active .modal-content {
    opacity: 1;
}
.modal-language.active .close-modal {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 1;
}
.modal-overlay_language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    opacity: 0;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.modal-overlay_language.active {
    opacity: 1;
    visibility: visible;
}

.modal__lang-img img {
    max-width: 100%;
    height: auto;
}

.modal__lang-img {
    margin-bottom: -4px;
}

.flag-icon {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    opacity: 1;
    cursor: pointer;
}



.flag-icon:hover {
      -webkit-animation: flash 0.7s forwards linear 0.16s;
    -moz-animation: flash 0.7s forwards linear 0.16s;
    animation: flash 0.7s forwards linear 0.16s;
}

.international-flags {
    display: flex;
    margin-top: 1.4rem;
}

.modal__right-lang {
    padding: 2.4rem 3rem;
}

@media screen and (max-width: 560px) {
    .modal-language .model-content {
      flex-direction: column;
  }

  .modal__left-lang {
      display: none;
  }

h4 {
      font-family: 'MontBold'
  }

}