{
  "presets": ["env", "react"],
  "plugins": ["transform-class-properties", "transform-object-rest-spread", "loadable-components/babel", "babel-plugin-dynamic-import-node", "babel-regenerator-runtime"]
}