.portfolio__header_item-wrapper {
            background: url('main__header.png') ;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
                        text-align: center;
                        padding: 15rem 0 3rem 0;
        text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
        }
        .project__logo img {
            max-width: 100%;
        }
.container__portfolio-item{background: #fff;}
.description__project p {
    padding: 0;
    margin: 0;
}

.portfolio__similar_item-wrapper{
    background-size: cover;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: 5rem 0 4rem 0;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}
        .icon-timer .icon__blog {
            background-image: url('timer.svg');
            width: 15px;
            height: 25px;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .icon-watching .icon__blog {
            background-image: url('eye.svg');
            width: 5px;
            height: 20px;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .project__logo {
            width: 150px;
            margin: 0 auto;
        }
        .name__project h4 {
            color: #ffffff;
            font-family: 'DSIDE-Black', sans-serif;
            font-size: 72px;
            margin: 0;
            padding: 0 2rem;
            font-weight: 700;
        }
        .category__project {margin-top: 3rem;}
        .category__project p,
        .name__customer p {
            color: #ffffff;
            font-family: Mont;
            font-size: 18px;
            font-weight: 700;
            margin: 0;
        }

        .project_description__content {
            display: flex;
        }


        .name__description  {
            display: none;
        }

        .description__project {
            font-family: 'DSIDE-Light', sans-serif;
            font-size: 1rem;
            font-weight: 300;
            color:#ffffff;
            padding: 3rem;
            margin: 0;
        }
         .portfolio__datatime__content {
            margin-top:1rem;
            margin-bottom: 1rem;
        }


        .portfolio__post-data {
            display: flex;
            font-size: 18px;
            flex-direction: row;
            justify-content: space-around;
            padding: 0 2rem;
            align-content: center;
            align-items: center;
        }


        .portfolio__post-data .watching__post {
            margin-right: 3rem;
        }
    .name__task{justify-self: flex-end;}
    .project__task_portfolio{font-family: 'DSIDE-Light', sans-serif; font-size: 22px; line-height: 32px; width: 60%;}
    .portfolio__screen-item img{margin-bottom: -5px}
    .portfolio__carousel{display: none;}
/* Tablets */
@media only screen and (min-width: 480px) {
    .portfolio__header_item-wrapper{text-align: left;}
        .portfolio__carousel{display: block;}
        .name__description  {
            color: #ffffff;
            font-family: 'DSIDE-Bold', sans-serif;
            font-size:  2rem;
            font-weight: 700;
            margin: 0;
            flex: 1 1 74%;}
        .category__project {margin-top: 0; display: none;}
        .next__project {margin-top: 0; }
        .next__project p{
            font-family: 'DSIDE-Light', sans-serif;
            font-size: 22px;
            color: #fff;
             padding: 0 2rem;
        }
        .name__next{
            color: #ffffff;
            font-family: 'DSIDE-Black', sans-serif;
            font-size: 40px;
            margin: 0;
            padding: 0 2rem;
            font-weight: 700;
        } .explore_next{display: block; width: fit-content; margin: 0 2rem;}
    .explore_next a{
        font-family: 'DSIDE-Bold', sans-serif;
        color: #ffffff;
        font-size: 18px;
        text-decoration: none;
        width: fit-content;
        }
    .arrow_next{
        margin-top: -3px;
    width: 14px;
    height: 1rem;
    padding-left: 6px;
    display: inline-block;
    vertical-align: middle;
    transform: translateX(0);
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    }
    .agrepullo{width: 87% !important; }
    .explore_next a:hover .arrow_next{
    transform:translateX(5px);
    }
        .name__next h2{    padding: 0;
    font-size: 40px;
    margin: 1rem 0;}
        .portfolio__name__content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        .project__logo{margin: 0;}
        .project__names {
            text-align: left;
            padding-left: 1rem;
        }
        .name__project h4{padding: 0}
        .description__project{padding: 1rem 1rem;}
        .superwrapper{padding-left: 2rem;}
        .project__task_portfolio p {
            color: #000000;
            font-family: 'DSIDE-Light', sans-serif;
            font-size: 18px;
            font-weight: 300;
            max-width: 797px;
            line-height: 29.87px;
            min-width: 200px;
        }

        .name__task h4 {
            color: #000000;
            font-family: 'DSIDE-Bold', sans-serif;
            font-size: 18px;
            margin: 22px 45px 0px 0px;
            font-weight: 700;
        }

        .container__project-task {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff;
            padding-top: 65px;
            padding-bottom: 55px;
            padding-left: 2rem;
        }

        .content__project-portfolio {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
        }

        .name__task a{
            color: rgba(69, 75, 107, 0.77);
            font-size: 18px;
            line-height: 32px;
            margin-right: 3rem;
            cursor: pointer;
            text-decoration: none;
            font-family: 'DSIDE-Bold', sans-serif;
            transition: all .3s ease-in-out;
        }
        .name__task a:empty{display: none;}
        .name__task a:hover{
            color: rgba(27, 28, 41, 0.91);
            transition: all .3s ease-in-out;
            cursor: pointer;
        }
        .name__task a:after {
    background-image: url("./arrow-up.svg");
    content:'';
    display: inline-block;
    position: relative;
    top: 3px;
    left: 8px;
    width: 18px;
    height: 18px;

        }
        .portfolio__screen-item img {
            max-width: 100%;
            width: 100%;
            margin-bottom: -5px;
        }


        .portfolio__carousel-title {
            padding-top: 41px;
            margin-top: -3px;
            padding-bottom: 23px;
        }

        .portfolio__carousel-title h2 {
            color: #000000;
            font-family: 'DSIDE-Light', sans-serif;
            font-size: 18px;
            margin-left: 60px;
            font-weight: 700;
            line-height: 32px;
            width: 60%;
        }



        .portfolio__carousel-wrapper {
                background: #ffffff;
        }

        .item_slider {
            margin-left: 10px;
            margin-right: 20px;
        }

        .container__slider-portfolio {
            padding-bottom: 30px;

        }


        .sliderItem {
            background-color: #2e71f0;
            height: 180px;
            color: #fff;
            font-size: 60px;
            text-align: center;
            padding-top: 50px;
            box-sizing: border-box;
        }
        .containerData {
            width: 980px;
            margin: 0 auto;
        }

        .sliderContent {
            max-width: 900px;
            margin: 0 auto;
        }


        .styleCarouselImg {
            margin-left: 10px;
        }

       .styleCarousellImg .carousel__inner-slide {
           top: 100px;
       }

        .similarItem figcaption h2{
            line-height: 15px;
        }

        .similarItem figcaption a {
            top: 175px !important;
            left: -41px !important;
        }

        .carousel {
            position: relative;
            margin-top: -4rem;
        }

        .data__buttons {
            top: 50%;
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
        }

        .carousel__next-button {

        }
        .grid figure img {
            position: relative;
            display: block;
            max-width: 100%;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            min-height: unset;
        }
        ._slideInner_fhwgk_1{height:unset;}
        .grid figure {
            position: relative;
            float: left;
            overflow: hidden;
            margin: 0px 0%;
            text-align: center;
            cursor: pointer;
            min-width: unset;
            }
        .carousel__back-button {
        }

        .data__buttons button img {
        width: 40px;

        }
        .data__buttons button {
            outline: none;
            border: none;
            background: transparent;
        }

        .carousel__back-button img {
            transform: rotate(180deg);
        }
}
 /* Laptops */
@media only screen and (min-width: 1024px) {
    .grid figure {
    min-width: unset;
    }
    .superwrapper{   
         display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;  }
   .header__portfolio-content {
        width: 100%;
       height: 360px;
       position: relative;
            /*background: url('layer-90.png');*/
        }
.portfolio__header_item-wrapper{text-align: left}
.header__portfolio-content-wrapper{position:absolute; bottom: 0; max-width: 1200px;  margin: 0 auto;  min-width: 50px; }
.portfolio__name__content {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
    padding-top: 25px;
}
.icon-timer p{width: 10rem; margin-left: 1rem;}
.icon-watching p{width: 3rem; margin-left: 1rem;}
.portfolio__datatime__content {
}

.project__logo{width: 150px;   }
.project__names{padding: 0 2rem; }
.description__project {
    font-size: 62px;
    padding: 0 2rem;
    margin-top: 0.4rem;
}
.sliderContent{max-width: 90%;}
.name__task h4, .project__task_portfolio p{font-size: 1rem;}
.similarItem img, .similarItem{min-width: unset !important;}
}

/* Highres */
@media only screen and (min-width: 1400px) {
    .description__project{font-size: 40px;}
    .portfolio__carousel-title h2, .name__task h4, .project__task_portfolio p{font-size: 22px; line-height: 32px;}
    .portfolio__carousel-title h2{padding-left: .7rem}
}