
.view__videos-title {
    color: #000000;
    font-family: MontBold;
    font-size: 23px;
    font-weight: 700;
    line-height: 31.87px;
}

.view__videos-description {
    color: #000000;
    font-family: MontLight;
    font-size: 18px;
    font-weight: 300;
    line-height: 31.87px;
}

.view__videos_img-wrapper img {
    max-width: 100%;
    height: auto;
}

.view__videos_img-wrapper {
    width: 685px;
}

.view__container-videos {
    display: flex;
    align-items: flex-end;
    max-width: 1200px;
    margin: 0 auto;
}

.view__videos-left {
    margin-left: 116px;
    margin-bottom: 10px;
}

.video__background-dside {
    margin-top: -4px;
}

@media screen and (max-width: 480px){
    .view__container-videos {
        flex-direction: column;
    }
}

.logo__service_slogan {
    z-index: 1;
}

.order__wrap {
    z-index: 1;
    margin-top: 0;
}

.dside_textContainer-video .logo__service-text {
    background-image: linear-gradient(to right, #743c18 60%, #1E1007 100%);
    opacity: 0.3;
    font-family: MontBold;
    font-size: 131px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    line-height: 1;
    text-align: right;
    padding-right: 80px;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
}

.logo__service_slogan {
    position: absolute;
    top: 181px;
    width: 550px;
    text-align: center;
}



.dside_textContainer-video .logo__service_slogan {
    -webkit-text-fill-color: white;
    line-height: 0.9;
    text-shadow: 0 5px 5px rgba(95, 51, 20, 0.61);
    color: #ffffff;
    font-family: MontBold;
    font-size: 86px;
    width: 100%;
    font-weight: 700;
}

.dside_textContainer-video  .logo__service-img {
    position: absolute;
    top: 190px;
    left: 75px;
    width: 950px;
}