.view__videos-title {
    color: #000000;
    font-family: MontBold;
    font-size: 23px;
    font-weight: 700;
    line-height: 31.87px;
}

.view__videos-description {
    color: #000000;
    font-family: MontLight;
    font-size: 18px;
    font-weight: 300;
    line-height: 31.87px;
}

.view__videos_img-wrapper img {
    max-width: 100%;
    height: auto;
}

.view__videos_img-wrapper {
    width: 685px;
}

.view__container-videos {
    display: flex;
    align-items: flex-end;
    max-width: 1200px;
    margin: 0 auto;
}

.view__videos-left {
    margin-left: 116px;
    margin-bottom: 10px;
}

.video__background-dside {
    margin-top: -4px;
}