 label[for='file'] {
    display: block !important;
    font-family: 'DSIDE-Bold', 'sans-serif';
    font-size: 0.8rem;
    padding-bottom: 10px;
    color: #000;
}

.workUpload {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workUpload input {
    padding-left: 20px;
}

#id_image {
    color: #000;
}


#recaptcha {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
