.case-title h3 {
    color: #060004;
    font-family: MontBold;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

.case-description p {
    color: #060004;
    font-family: MontLight;
    font-size: 14px;
    font-weight: 300;
}

.container__case-studies {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 110px;
}

.bad__logo-list  {
    list-style-image: url('list-style.svg');
}

.bad__title-apple {
    display: flex;
    justify-content: flex-end;
}
.bad__title-apple h3{
    font-family: MontBold;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.87px;
    text-transform: uppercase;
    margin-bottom: 9px;

}
.bad__title-apple h3:nth-child(2) {
    color: #141414;
    margin-left: 10px;
}

.bad__title-apple h3:nth-child(1) {
    color: #4e4e4e;
    text-decoration: line-through;
}

.bad__logo-list {
    width: 210px;
    color: #282828;
    font-family: MontLight;
    font-size: 14px;
    font-weight: 300;
    line-height: 27.87px;
    margin-left: 40px;
    margin-top: 0px;
}

.bad__logo-list li {
    padding-left: 8px;
}

.features_case-goodlogo ul.bad__logo-list li {
    padding-left: 12px;
}
.features_case-goodlogo ul.bad__logo-list {
    margin-left: 77px;
}


.features__cases {
    display: flex;
    margin-top: 70px;
    justify-content: space-around;
    margin-bottom: 71px;
}

.features_case-baglogo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.bag__logo-img_wrapper img {
    max-height: 371px;
}

.dside_textContainer-logo .logo__service-text {
    background-image: linear-gradient(to right, #743c18 60%, #1E1007 100%);
    opacity: 0.3;
    font-family: MontBold;
    font-size: 131px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    line-height: 1;
    text-align: right;
    padding-right: 80px;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
}

.logo__service_slogan {
    position: absolute;
    top: 181px;
    width: 550px;
    text-align: center;
}



.dside_textContainer-logo .logo__service_slogan {
    -webkit-text-fill-color: white;
    line-height: 0.9;
    text-shadow: 0 5px 5px rgba(95, 51, 20, 0.61);
    color: #ffffff;
    font-family: MontBold;
    font-size: 86px;
    width: 100%;
    font-weight: 700;
}

.dside_textContainer-logo  .logo__service-img {
    position: absolute;
    top: 160px;
    left: 100px;
    z-index: 1;
    width: 950px;
}

.logo__service-text p {
    margin: 0;
}

.case__service{
    margin-bottom: 85px;
}

@media screen and (max-width: 480px) {
  .dside_textContainer-logo .logo__service-img {
      width: auto;
  }



    .dside_textContainer-logo .logo__service-text {
        font-size: 7.5rem;
    }


    .features__cases {
        flex-direction: column;
        align-items: center;
    }


    .case-title {
        margin-left: 35px;
    }

    .case-description {
        margin-left: 35px;
    }



          .dside_textContainer-logo .logo__service-img {
              top: 170px;
              left: 10px;
          }

          .discount__offer-title h2 {
              line-height: 2;
          }
}