.case-title h3 {
    color: #060004;
    font-family: MontBold;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.case-description p {
    color: #060004;
    font-family: MontLight;
    font-size: 18px;
    font-weight: 300;
}

.container__case-studies {
    max-width: 1200px;
    margin: 0 auto;
}

.bad__logo-list  {
    list-style-image: url('list-style.svg');
}

.bad__title-apple {
    display: flex;
}

.bad__title-apple h3:nth-child(2) {
    color: #141414;
    font-family: MontBold;
    font-size: 30px;
    font-weight: 700;
    line-height: 31.87px;
    text-transform: uppercase;
    margin-left: 10px;
}

.bad__title-apple h3:nth-child(1) {
    color: #4e4e4e;
    text-decoration: line-through;
    font-family: MontBold;
    font-size: 30px;
    font-weight: 700;
    line-height: 31.87px;
    text-transform: uppercase;
}

.bad__logo-list {
    width: 250px;
    color: #282828;
    font-family: MontLight;
    font-size: 18px;
    font-weight: 300;
    line-height: 27.87px;
    margin-left: 40px;
}

.features__cases {
    display: flex;
    margin-top: 70px;
    justify-content: space-around;
}


.bad__logo-description_container {
    margin-left: 75px;
}

.dside_textContainer-logo .logo__service-text {
    background-image: linear-gradient(to right, #743c18 60%, #1E1007 100%);
    opacity: 1;
    font-family: MontBold;
    font-size: 161px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    line-height: 1.5;
    text-align: right;
    padding-right: 80px;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
}

.logo__service_slogan {
    position: absolute;
    top: 281px;
    width: 950px;
    text-align: center;
}



.dside_textContainer-logo .logo__service_slogan {
    -webkit-text-fill-color: white;
    line-height: 0.9;
    text-shadow: 0 5px 5px rgba(95, 51, 20, 0.61);
    color: #ffffff;
    font-family: MontBold;
    font-size: 86px;
    width: 100%;
    font-weight: 700;
}

.dside_textContainer-logo  .logo__service-img {
    position: absolute;
    top: 190px;
    left: 75px;
    width: 950px;
}

.logo__service-text p {
    margin: 0;
}