@keyframes floating {
  from {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(15px);
  }
  to {
    transform: translateY(0px);
  }
}

.installation {
  background-image: url('../star.svg'), linear-gradient(to bottom, #1b002c, #4D007D);
  height: 90vh;
  margin: 0;
  background-attachment: fixed;
  overflow: hidden !important;
}

.mars {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 31vmin;
  background: url('../mars.svg') no-repeat bottom center;
  background-size: cover;
}

.logo-404 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 26vmin;
  width: 30vmin;
}


.meteor {
  position: absolute;
  right: 12vmin;
  top: 15vmin;
  width: 24vmin;
  opacity: .7;
}

.title {
  color: white;
  font-weight: 600;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 51vmin;
  z-index: 9999;
}

.subtitle {
  color: white;
  font-weight: 300;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  padding: 0 2rem;
  margin-top: -1vmin;
  margin-bottom: 9vmin;
}

.btn-back {
  border: 2px solid white;
  color: white;
  font-size: 18px;
  width: fit-content;
  padding: 12px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
  z-index: 2;
  position: relative;
}
.btn-back:hover {
  background: white;
  color: #4D007D;
}

.astronaut {
  position: absolute;
  top: 108vmin;
  left: -14vmin;
  height: 66vmin;
  animation: floating 3s infinite ease-in-out;
}
