.basic__header {
   -webkit-box-shadow: 2.5px 4px 5px rgba(28, 29, 31, 0.05);
    box-shadow: 2.5px 4px 5px rgba(28, 29, 31, 0.05);
    background-color: #ffffff;
    width: 100%;
}

.basic__header-content {
    height: 50px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 6px;
}

.add__work_plus{
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-top: 3px;
    position: relative;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__container {
    position: relative;
    z-index: 1;
}

.left__content-icons {
    display: flex;
    align-items: center;
}

.add__work_wrapper {
    padding-left: 20px;
}


.social__icons {
        display: flex;
        align-items: center;
}

.right__content-socials .check__work-sockets {
    display: none;
}


@media screen and (max-width: 768px) {

   .social__icons {
         display: none;
     }

    .left__content-icons .check__work-sockets {
        display: none;
    }

    .right__content-socials .check__work-sockets {
        display: block;
    }

    .add__work_wrapper {
        padding-left: 0px;
    }

}


@media screen and (max-width: 480px){
 .header__content {
     margin-left: 40px;
     margin-right: 40px;
 }
    .content__posts {
        margin-left: 40px;
        margin-right: 40px;
    }
    .container__about-content {
        margin-left: 40px;
        margin-right: 40px;
    }
}

.add__work_plus::before,
.add__work_plus::after,
.social__icon-instagram::before,
.social__icon-instagram::after,
.social__icon-behance::before,
.social__icon-behance::after{
    cursor: pointer;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-transition: 0.35s cubic-bezier(0.62, 0.02, 0.34, 1);
    -moz-transition: 0.35s cubic-bezier(0.62, 0.02, 0.34, 1);
    -o-transition: 0.35s cubic-bezier(0.62, 0.02, 0.34, 1);
    transition: 0.35s cubic-bezier(0.62, 0.02, 0.34, 1);
    will-change: opacity;
}

.check__work {
    cursor: pointer;
}

.social__icon-instagram {
    width: 20px;
    height: 20px;
    position: relative;
}
.social__icon-behance {
    width: 14px;
    height: 14px;
    position: relative;
}

.social__icon-instagram {
    margin-left: 15px;
}


.social__icon-instagram:hover::before,
.social__icon-behance:hover::before{
    opacity: 0;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}


.social__icon-instagram::before {
    background-image: url('../../sources/sprites/icons/inst-icon.svg');
}

.social__icon-instagram::after {
    background-image: url('../../sources/sprites/icons/inst-icon-hover.svg');
    opacity: 0;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.social__icon-behance::before{
    background-image: url('../../sources/sprites/icons/behance.svg');
}

.social__icon-behance::after {
    background-image: url('../../sources/sprites/icons/behance-icon-hover.svg');
    opacity: 0;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.social__icon-instagram:hover::after,
.social__icon-behance:hover::after{
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}


.social__icon-instagram:hover,
.social__icon-behance:hover {
    -webkit-animation: flash-soft 0.4s forwards linear 0.18s;
    -moz-animation: flash-soft 0.4s forwards linear 0.18s;
    animation: flash-soft 0.4s forwards linear 0.18s;
}



.social__icon-behance {
    cursor: pointer;
}


.main__header {
    background-color: #f3f3f5;
    width: 100%;
    position: absolute;
    top: 50px;
    animation: showNav 250ms ease-in-out 0s 1 normal both running;
    z-index: 1;
}


.main__header-left {
    display: flex;
    height: 263px;
    align-items: center;
}

.link__menu {
    color: #0a0a0a;
    font-family: "MontBold";
    font-size: 24px;
    font-weight: 400;
    line-height: 9.87px;
    text-decoration: none;
}

.description__menu-title {
    color: #0a0a0a;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    line-height: 9.87px;
}

.main__header-content {
    max-width: 1200px;
    margin: 0 auto;
}

.menu__header-item:first-child {
    margin-bottom: 60px;
}

.menu__header-column div {
    margin-right: 100px;
}

@keyframes showNav {
    from {opacity: 0;}
    to {opacity: 1;}
}
.shining-underline {
  position: relative; }

.shining-underline span {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  overflow: hidden;
  will-change: transform; }

.shining-underline span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    background: -webkit-gradient(linear, left top, right top, from(#d99b91), to(#ad6f59));
    background: -webkit-linear-gradient(left, #d99b91, #ad6f59);
    background: -o-linear-gradient(left, #d99b91, #ad6f59);
    background: linear-gradient(90deg, #d99b91, #ad6f59);
    will-change: transform;
    -webkit-transition: -webkit-transform 0.48s cubic-bezier(0.7, 0.3, 0, 1);
    -moz-transition: -moz-transform 0.48s cubic-bezier(0.7, 0.3, 0, 1);
    transition: -webkit-transform 0.48s cubic-bezier(0.7, 0.3, 0, 1);
    -o-transition: transform 0.48s cubic-bezier(0.7, 0.3, 0, 1);
    transition: transform 0.48s cubic-bezier(0.7, 0.3, 0, 1);
    transition: transform 0.48s cubic-bezier(0.7, 0.3, 0, 1), -webkit-transform 0.48s cubic-bezier(0.7, 0.3, 0, 1); }

.shining-underline:hover span::before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0; }



/*!* General link styles *!*/
/*.link {*/
	/*outline: none;*/
	/*text-decoration: none;*/
	/*position: relative;*/
	/*line-height: 0;*/
	/*color: #9e9ba4;*/
	/*display: inline-block;*/
/*}*/
/*!* dside *!*/
/*.link--dside {*/
	/*overflow: hidden;*/
	/*padding: 10px 18px;*/
	/*line-height: 0;*/
	/*color: #242424;*/
/*}*/

/*.link--dside:hover {*/
	/*color: #242424;*/
/*}*/

/*.link--dside::after {*/
	/*content: '';*/
	/*position: absolute;*/
	/*height: 100%;*/
	/*width: 100%;*/
	/*top: 0;*/
	/*right: 0;*/
	/*z-index: 0;*/
	/*background: #0c0c0c;*/
	/*-webkit-transform: translate3d(0,101%,0);*/
	/*transform: translate3d(0,101%,0);*/
	/*-webkit-transition: -webkit-transform 0.3s;*/
	/*transition: transform 0.3s;*/
	/*transition-delay: .1s;*/
	/*-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);*/
	/*transition-timing-function: cubic-bezier(0.7,0,0.3,1);*/
/*}*/

/*.link--dside:hover::after {*/
	/*-webkit-transform: translate3d(0,0,0);*/
	/*transform: translate3d(0,0,0);*/
	/*background: #ed1d24;*/
	/*transition-delay: .1s;*/
/*}*/

/*.link--dside span {*/
	/*display: block;*/
	/*position: relative;*/
/*}*/

/*.link--dside span::before {*/
	/*content: url(Logo2.svg);*/
	/*position: absolute;*/
	/*color: #fff;*/
	/*left: 0;*/
	/*overflow: hidden;*/
	/*white-space: nowrap;*/
	/*width: 100%;*/
	/*height: 0%;*/
	/*opacity: 0;*/
    /*z-index: 1;*/
	/*transform: translate3d(0px,-5px,3px);*/
    /*-webkit-transform: translate3d(0px,-5px,3px);*/
	/*-webkit-transition: all 0.3s;*/
	/*transition: all 0.3s;*/
	/*-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);*/
	/*transition-timing-function: cubic-bezier(0.7,0,0.3,1);*/
	/*transition-delay: .15s;*/
/*}*/

/*.link--dside:hover span::before {*/
    /*-webkit-transform: translate3d(0,0,0);*/
	/*width: 100%;*/
	/*opacity: 1;*/
	/*transition: all 0.3s;*/
	/*transform: translate3d(0px,0px,0px);*/
	/*height: 100%;*/
	/*transition-delay: .1s;*/
/*}*/
/*!* Media Queries *!*/

/*@media screen and (max-width: 42em) {*/
	/*.link--dside { font-size: 3em; }*/
/*}*/
/*.agrepullo{*/
    /*animation-name: example;*/
    /*animation-duration: .5s;*/
/*}*/
/*@-webkit-keyframes example {*/
    /*from {opacity: 0 ;}*/
    /*to {opacity: 1 ;}*/
/*}*/


.svg-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    margin-left: -50px;
    margin-top: -50px;
    cursor: pointer;
    text-align: center;
}
.svg-logo .inner {
    transition: opacity 200ms;
    opacity: 0;
    z-index: 100;
}
.svg-logo:hover .inner {
    opacity: 1;
    fill: url(#rollover);
}

p {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    text-align: center;
    margin-top: 50px;
    color: #fff;
    font-family: helvetica;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 18px;
}
.outer{
    opacity: 1;
    transition: all 0.3s;
}
.svg-logo:hover .outer {
    z-index: 99;
    opacity: 0;
    transition: all 0.3s;
}

.large-shadow {
    opacity: 0.25;
}



