.more__icon img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.load {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'MontBold';
    display: table;
    line-height: 10px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(0,0,0);
    font-size: 12px;
    font-weight: bold;
    background-image: linear-gradient(90deg, #d99b91 0%, #ad6f59 100%);
}


@media screen and (max-width: 550px){
    .case__service {
        flex-direction: column;
        padding-bottom: 20px;
    }
}

.content__posts .grid {
    flex: 1 1 30%;
}
.more__icon img {
    padding-top: 10px;
    padding-bottom: 30px;
    cursor: pointer;
    opacity: .3;
    -webkit-transition: 0.35s cubic-bezier(0.62, 0.02, 0.34, 1);
   -moz-transition: 0.35s cubic-bezier(0.62, 0.02, 0.34, 1);
   -o-transition: 0.35s cubic-bezier(0.62, 0.02, 0.34, 1);
   transition: 0.35s cubic-bezier(0.62, 0.02, 0.34, 1);
   will-change: opacity;
}

.more__icon img:hover {
    opacity: 1;
     -webkit-transition: 0.35s cubic-bezier(0.62, 0.02, 0.34, 1);
    -moz-transition: 0.35s cubic-bezier(0.62, 0.02, 0.34, 1);
    -o-transition: 0.35s cubic-bezier(0.62, 0.02, 0.34, 1);
    transition: 0.35s cubic-bezier(0.62, 0.02, 0.34, 1);
    will-change: opacity;
}

.load__more {
    display:  flex;
    justify-content:  center;
}

.portolio__post {
    cursor: pointer;
}




