.logo__service-text_website {
    background-image: linear-gradient(to right, #743c18 60%, #1E1007 100%);
    opacity: 0.3;
    font-family: 'MontBold', sans-serif;
    font-size: 161px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin-top: 65px;
    text-align: right;
    text-transform: uppercase;
    position: relative;
}




.slogan-wrapper{margin: 0 auto;}

.logo__service-img_website-ads img{max-width: 100%;
    height: auto;
    position: relative;
}
.logo__service-img_website-ads {
     width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
    margin: 0 auto;
        left: 0;
}




.contentby__vova h3  {
    font-family: "MontBold";
    font-size: 24px;
    font-weight: 700;
    line-height: 31.87px;
    margin-bottom: 7px;
}

.contentby__vova p {
    font-family: "MontLight";
    font-weight: 300;
    margin-top: 0;
}

.name__developer {
    font-family: "MontBold";
    font-size: 12px;
    font-weight: 700;
}

.position__developer {
    font-family: "MontLight";
    font-size: 12px;
    font-weight: 300;
}


.developers__quality {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.titles__developer {
    text-align: right;
    margin-top: 40px;
}

.discover__button {
    text-align: center;
    margin-top: 60px;
    width: 295px;
    height: 42px;
    border-radius: 21px;
    border: 2px solid #d79888;
    background-image: linear-gradient(to right, #d79888 0%, #b2725e 100%);
    color: #000000;
    font-family: 'MontBold', sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    line-height: 2;
    text-align: center;
}


.versus__section {
    margin-top: -4px;
}

.versus__section-wrapper   {
    background: url('backgroundVersus.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 77%;
}

.content__section-versus {
    max-width: 1200px;
    margin: 0 auto;
}

.versus__title {
    color: #ffffff;
    font-family: 'MontBold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 55px;
    margin-bottom: 55px;
    line-height: 31.87px;
    text-transform: uppercase;
}


.versus__text {
    color: #ffffff;
    font-family: 'MontLight', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 31.87px;
    width: 550px;
    text-align: center;
}

.versus__text span {
    font-weight: 700;
    font-family: 'MontBold', sans-serif;
}


.versus__section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}



.content__people-versus {
    background: #F2F3F4;
    width: 100%;
}

.about__people-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    padding-bottom: 100px;
}


.baker__titles h3 {
    background-image: linear-gradient(to right, #d79888 0%, #b2725e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #242424;
    font-family: 'MontBold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.87px;
    margin: 0;
    text-transform: uppercase;
}

.baker__titles p {
    color: #101010;
    font-family: 'MontLight', sans-serif;
    font-size: 14px;
    margin: 0;
    font-weight: 300;
    line-height: 31.87px;
    text-transform: uppercase;
}

.baker__titles {
    margin-left: 20px;
}

.about__bakers-title {
    display: flex;
    align-items: center;
}

.features__bakers li {
    color: #101010;
    font-family: 'MontLight', sans-serif;
    font-size: 14px;
    width: 200px;
    font-weight: 300;
    margin: 20px;
    line-height: 20.87px;
}

.about__andrew-baker {
    flex: 0.8 1;
}


.al__time-section {
    background: url('./images/background__time.png');
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 180px;
    padding-bottom: 225px;
    background-size: cover;
}


.al__time-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.al__time-wrapper p {
    color: #ffffff;
    font-family: 'MontLight', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 51px;
    max-width: 670px;
    line-height: 20.87px;
}

.al__time-wrapper h3 {
    color: #ffffff;
    margin: 0;
    font-family: 'MontBold', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 20.87px;
}


.dside_textContainer-advertising .logo__service_slogan{
    font-size: 2.3rem;
    top: 140px;
}


@media screen and (max-width: 480px){



   .contentby__vova h3 {
       font-size: 2.1rem ;
       margin-bottom: 15px;
   }

    .contentby__vova p {
        font-size: 1.5rem;
    }

    .name__developer {
        font-size: 1.6rem;
    }

    .position__developer {
        font-size: 1.5rem;
    }

    .logo__service-img_website {
        width: auto;
        top: 329px;
    }

    .logo__service-text_website {
        font-size: 7.5rem;
    }

    .dside_textContainer-website .logo__service_slogan {
        font-size: 67px;
    }

    .dside_textContainer-website {
     overflow: inherit;
    }
    .developers__quality {
        margin-bottom: 35px;
    }

    .versus__text {
        font-size: 1.5rem;
    }



    .versus__title {
        font-size: 1.8rem;
    }

    .al__time-wrapper {
        margin-left: 40px;
    }
}

.logo__service-img-ads {
    position: absolute;
    left: 14rem;
    width: 100%;
    z-index: 1;
    top: 50px;
}

