
.right__form-question_title h4 {
    font-size: 16px;
    line-height: 17px;
    color: rgb(117,149,241);
    font-family: "DSIDE-Bold", sans-serif;
    font-weight: bold;
}#google__maps-container{position: relative; z-index: -1;}.question__form p{font-family:'DSIDE-Light';font-size: 18px;}
    .title__drop h3 {
        margin: 0;
        color: #000000;
        font-family: 'DSIDE-Bold', sans-serif;
        font-size: 20px;
    }.blacked{color: #000;}
    .left__form-container .title__form-contact h3 {
    display: none;
    margin: 0;
    font-size: 26px;
    line-height: 17px;
    color: rgb(17,17,17);
    font-family: "DSIDE-Bold", sans-serif;
    font-weight: bold;
}
.right__form_phone h2 {
    font-size: 30px;
    color: rgb(255,255,255);
    font-family: "DSIDE-Bold", sans-serif;
    font-weight: bold;
}
.right__form_phone h3 {
    font-size: 20px;
    color: rgb(255,255,255);
    font-family: "DSIDE-Bold", sans-serif;
    font-weight: bold;
}

.right__form_street h4 {
    font-size: 16px;
    line-height: 17px;
    color: rgb(117,149,241);
    font-family: "DSIDE-Bold", sans-serif;
    font-weight: bold;
}
.right__form-container {
    background: url('./Layer 106.png');
    transition: background 1000ms linear;
    background-size: cover;
    padding: 2rem 2.4rem;
    background-repeat: no-repeat;
}
.contact-us__form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.background__contactus {
    margin: 0 auto;
    width: 100%;
    background: #F3F3F5;
}
    .button__content p {
        font-size: 50px;
    }

    .shining-underline-cf input{border-bottom: 1px solid #d0d1d2; line-height: 1.2rem; padding-left: 5px; font-size: .8rem;}
    .shining-underline-cf input:invalid:not(:focus){border-color: #d0d1d2;}
    .shining-underline-cf input:focus { border-color: #000000;  transition: all .1s ease-in; background: #f0edec !important; position: relative; z-index: 2; }
    .shining-underline-cf input:valid{border-color: rgba(0, 0, 0, 0.83);}
    .shining-underline-cf input:valid{background: #f0edec  url('../../sources/images/works__logo/check.svg') no-repeat scroll 240px 0px !important; transition: all 0s;}
    .golden{ background-image: linear-gradient(to right, #d99b91 0%, #ad6f59 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
    .shining-underline-cf {
    position: relative;
    max-width: 100%;
    }

    .shining-underline-cf span {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      overflow: hidden;
      will-change: transform; }

    .shining-underline-cf span::before {
            content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 100% 0;
        -moz-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        -o-transform-origin: 100% 0;
        transform-origin: 100% 0;
        background: -webkit-gradient(linear, left top, right top, from(#d99b91), to(#ad6f59));
        background: -webkit-linear-gradient(left, #d99b91, #ad6f59);
        background: -o-linear-gradient(left, #d99b91, #ad6f59);
        background: linear-gradient(90deg, #d99b91, #ad6f59);
        will-change: transform;
        -webkit-transition: -webkit-transform 0.48s cubic-bezier(0.7, 0.3, 0, 1);
        -moz-transition: -moz-transform 0.48s cubic-bezier(0.7, 0.3, 0, 1);
        transition: -webkit-transform 0.48s cubic-bezier(0.7, 0.3, 0, 1);
        -o-transition: transform 0.48s cubic-bezier(0.7, 0.3, 0, 1);
        transition: transform 0.48s cubic-bezier(0.7, 0.3, 0, 1);
        transition: transform 0.48s cubic-bezier(0.7, 0.3, 0, 1), -webkit-transform 0.48s cubic-bezier(0.7, 0.3, 0, 1); }


button.contact__btn-send {
    margin: 0 auto;
    outline: none;
    display: block;
    margin-top: 55px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1px solid #B2725E;
   padding: 10px 17px 8px 26px;
    border-radius: 25px;
    font-size: 1rem;
    min-width: 215px;
    font-family: 'DSIDE-Light',sans-serif;
}
.contact__btn-send:hover {
    -webkit-animation: flash .7s forwards linear .16s;
    animation: flash .7s forwards linear .16s
}

.contact__btn-send img {
    margin-top: -3px;
    width: 14px;
    height: 1rem;
    padding-left: 6px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.contact__btn-send:hover > img {
    -webkit-transform: translateX(6px);
    -ms-transform: translateX(6px);
    transform: translateX(6px);
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-animation: flash .7s forwards linear .16s;
    animation: flash .7s forwards linear .16s;
}
  .dside__send {
    height: 30px;
    display: flex;
    background: transparent;
    border: none;
    position: relative;
    margin-bottom: 2rem;
      cursor: pointer;
      outline: none;
}

.footer__copyright {
    display: flex;
    font-family: 'DSIDE-Light',sans-serif;
    padding: .4rem 2rem;
    justify-content: space-between;
}

/* FORM */

/* Card */
.card {
  position: relative;
  padding: 40px 0 30px 0;
  box-sizing: border-box;
  transition: .3s ease;
  font-family: 'DSIDE-Light',sans-serif;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
}
.card:first-child {
  background: #fafafa;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}
.card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #ed2553;
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color: #ed2553;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .input-container {
  position: relative;
  margin: 0 50px 50px;
}
.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 60px;
  border: 0;
  color: #212121;
  font-size: 22px;
  font-weight: 400;
}
.card .input-container input:focus ~ label {
  color: #9d9d9d;
  transition: .3s ease;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:valid ~ .bar:before, .card .input-container input:valid ~ .bar:after {
    width: 50%;
  background: #74e28d;
}

.card .input-container input.error:valid ~ .bar:before, .card .input-container input.error:valid ~ .bar:after {
    width: 50%;
  background: #ff5f61;
}

.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 50%;  background: #75d2ff;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
   transition: .3s ease;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input.error:valid ~ label {
  color: #ff5154;
  margin-left:0px;
}

.card .input-container label {
  position:absolute;
  top: 0;
  display: inline;
  left: 0;
  color: #757575;
  font-size: 22px;
  font-weight: 300;
  line-height: 60px;
  transition: 0.2s ease;
}
.card .input-container .input-feedback {
  display: inline;
  color: #d73238;
  font-size: 22px;
  margin-left: 5px;
  font-weight: 300;
  line-height: 60px;
  transition: 0.2s ease;
}

.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
  content: '';
  position: absolute;
  background: #ccc;
  width: 0;
  height: 2px;
  transition: .2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
.card .button-container {
  margin: 0 60px;
  text-align: center;
}
.card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0,130,229,.1), 0 2px 5px rgba(66,32,160,.1);
  background: rgb(66,32,160); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(66,32,160,1) 0%, rgba(0,130,229,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(66,32,160,1) 0%,rgba(0,130,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(66,32,160,1) 0%,rgba(0,130,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4220a0', endColorstr='#0082e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 50px;
  width: 260px;
  border: none;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  transition: all .3s ease;
}
.card .button-container button span {
  position: relative;
  z-index: 1;
  color: #e6f5ff;
   font-family: 'DSIDE-Black',sans-serif;
  transition: .3s ease;
}
.card .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #6399ed;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  transition: all .3s ease;
}
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
box-shadow: 0 2px 5px rgba(0,130,229,.1), 0 2px 5px rgba(66,32,160,.1);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4220a0+0,0091f2+100 */
background: rgb(66,32,160); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(66,32,160,1) 0%, rgba(0,145,242,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(66,32,160,1) 0%,rgba(0,145,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(66,32,160,1) 0%,rgba(0,145,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4220a0', endColorstr='#0091f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
  color: #ffffff;
}
.card .button-container button:active span, .card .button-container button:focus span {
  color: #ffffff;
}
.card .button-container button:active:before, .card .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}
.left__form-container .contactus__form_active {
    padding: 2rem 0;
}
/* Tablets */
 @media only screen and (min-width: 480px) {
     .left__form-container{background: #fff;}
.contact-us__form_container {
     flex-direction: row;
}
    .card .input-container {
    margin: 0 60px 30px;
}
    .card .button-container button{
        padding: 16px 0;
        width: 210px;
    }
    .card .input-container input{
        font-size: 18px;
    }
    .card .input-container label{
        font-size: 18px;
    }
    .card .input-container .input-feedback{
        font-size: 18px;
    }

 }

/*Fullscreen*/
@media screen and (min-width: 1024px) {
     .card{padding: 40px 40px 30px 40px;}
    .card .button-container {
    margin: 60px 60px 0;}
}
/*Fullscreen*/
@media screen and (min-width: 1400px) {
    .background__contactus {
    width: 1200px;
    margin: 0 auto;
    background: #F3F3F5;
    transform: translateY(-60px);
    display: flex;
    justify-content: center;
}




.contact-us__form_container {
    display: flex;
    justify-content: center;
}

.left__form-container {
    background: white;
}

.right__form-container {
    background: url('./Layer 106.png');
}
#google__maps-container::before{content: ''; display: block;
    width:100%; height: 150px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f3f5+19,ffffff+99&1+19,0+99 */
background: -moz-linear-gradient(top, rgba(243,243,245,1) 19%, rgba(255,255,255,0) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(243,243,245,1) 19%,rgba(255,255,255,0) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(243,243,245,1) 19%,rgba(255,255,255,0) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f5', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */position: absolute; z-index: 1;}





.left__form-container .title__form-contact {
    display: none;
}


.left__form-container .contactus__form_active {
        padding: 4% 10%
}

.right__form-container {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 75px;
}



.service__contact input:focus {
    background: none
}

.service__contact span {
    font-size: 0.6rem;
}

.contact-input .shining-underline-cf input:focus {
    background: none !important;
}


.background__contactus {
    flex-direction: column;
}

.footer__copyright {
    display: flex;
    max-width: 1165px;
    margin: 0 auto;
    justify-content: space-between;
}

.background__contactus .copyright__content {
    width: 100%;
    display: block;
}


#form__dside .dside__send {
    width: 180px;
}


.wrapper__name .holder__poppup {
    bottom: 0.8px;
}

.wrapper-holder__name {
    position: relative;
    display: flex;
    margin-top: 2rem;
    width: 25%;
    margin-right: 25px;
}

.wrapper-holder__phone {
    position: relative;
    display: flex;
    margin-top: 2rem;
    width: 35%;
}
}