.background__contactus {
    width: 100%;
    background: #F3F3F5;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}




.contact-us__form_container {
    display: flex;
    justify-content: center;
}

.left__form-container {
    background: white;
    padding-left: 50px;
    padding-right: 50px;
    width: 800px;
}

.right__form-container {
    background: url('./Layer 106.png');
    transition: background 1000ms linear;
    width: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}


.right__form-container:hover,
.right__form-container:active {
    transition: background 1000ms linear;
    background: url("./alexey.png");
    background-size: cover;
    background-repeat: no-repeat;
}



.left__form-container .title__form-contact h3 {
    margin: 0;
    font-size: 18px;
    line-height: 17px;
    color: rgb(17,17,17);
    font-family: "MontBold", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}


.left__form-container .title__form-contact {
    margin-top: 50px;
    margin-bottom: 175px;
    display: flex;
    justify-content: flex-end;
}



.left__form-container .contactus__form_active {
    padding-bottom: 13%;
}


.right__form-container {
    padding-left: 60px;
    padding-top: 75px;
}



.right__form-question_title h4 {
    font-size: 18px;
    line-height: 17px;
    color: rgb(117,149,241);
    font-family: "MontBold", sans-serif;
    font-weight: bold;
}

.right__form_phone h2 {
    font-size: 22px;
    color: rgb(255,255,255);
    font-family: "MontBold", sans-serif;
    font-weight: bold;
}

.right__form_street h4 {
    font-size: 18px;
    line-height: 17px;
    color: rgb(117,149,241);
    font-family: "MontBold", sans-serif;
    font-weight: bold;
}

.service__contact input:focus {
    background: none
}

.service__contact span {
    font-size: 0.6rem
}

.contact-input .shining-underline-cf input:focus {
    background: none !important;
}


.background__contactus {
    flex-direction: column;
}

.footer__copyright {
    display: flex;
    max-width: 1165px;
    margin: 0 auto;
    justify-content: space-between;
}

.background__contactus .copyright__content {
    width: 100%;
    display: block;
}


#form__dside .dside__send {
    width: 180px;
}

@media screen and  (max-width: 1024px){
    .left__form-container {
        width: 400px;
    }

    .right__form-container {
        width: 400px;
    }

    .left__form-container .title__form-contact {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px){

    .social__icons {
        display: flex;
        align-items: center;
    }

    .footer__copyright {
        flex-direction: column;
        align-items: center;
    }

    .background__contactus .copyright__content  {
        margin-top: 10px;
    }

    .right__form-phone h2 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px){
    .contact-us__form_container  {
        flex-direction: column;
    }

    .left__form-container {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        order: 1;
        display: none;
    }

    
    .title__drop h3 {
        text-align: center;
        width: 100%;
    }
    .title__form-contact h3 {
        text-align: center;
        width: 100%;
    }

    .clients__form  {
        padding: 3rem 0.9rem;
    }

    .right__form-container {
        padding-top: 75px;
        width: auto;
        padding-bottom: 75px;
        background-position-y: 100%;
    }

    .right__form-container:hover {
        background-position-y: 30%;
    }

    .question__form p {
        text-align: center;
    }
}



.wrapper__name .holder__poppup {
    bottom: 0.8px;
}

.wrapper-holder__name {
    position: relative;
    display: flex;
    margin-top: 2rem;
    width: 25%;
    margin-right: 25px;
}

.wrapper-holder__phone {
    position: relative;
    display: flex;
    margin-top: 2rem;
    width: 35%;
}