/* Mobile-First Footer */
    footer {
        background-color: #f2f0ef;
        width: 100%;
        font-family: 'MontLight', sans-serif;
    }
    .footer__content {
        margin-left:  40px;
        margin-right: 40px;
    }
    .question__form p {
    color: #000000;
    font-size: 1.4rem;
    line-height: 1.5;
    max-width: 100%;
    }
    .golden{ background-image: linear-gradient(to right, #d99b91 0%, #ad6f59 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
    .title__drop h3 {
        margin: 0;
        cursor: pointer;
        color: #000000;
        font-family: 'MontBold', sans-serif;
        font-size: 1.6rem;
    }
    .inputs__send {
        display: flex;
        flex-direction: column;
    }
    .wrapper__name,
    .wrapper__phone {
        width: 280px;
        display: flex;
        position: relative
    }
    .clients__form{padding: 3rem 0.2rem;}
    #name,
    #phone {
        margin-right: 0;
        font-size: 1.2rem;
        max-width: 100%;
        outline: none;
        border-top:none;
        border-left: none;
        border-right: none;
        color: #000000;
        flex:1;
        background: none;
        font-weight: 300;
        border-bottom: 1px solid black;
    }
    .wrapper__name,
    .wrapper__phone {
        width: 100% ;
        margin-top: 2rem;
    }


    .button__content p {
        font-size: 50px;
    }


    .dside__send {
        border-image-slice: 20;
        border-image-width: 20;
        height:  auto;
        width: 50%;
    }

    .copyright p {
    color: #000000;
    font-family: 'MontLight', sans-serif;
    font-size: 0.8rem;
    margin: 0;
    padding: 0 0 1rem 0;
}
    .shining-underline-cf {
    position: relative;
    max-width: 100%;
    }

    .shining-underline-cf span {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      overflow: hidden;
      will-change: transform; }

    .shining-underline-cf span::before {
            content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 100% 0;
        -moz-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        -o-transform-origin: 100% 0;
        transform-origin: 100% 0;
        background: -webkit-gradient(linear, left top, right top, from(#d99b91), to(#ad6f59));
        background: -webkit-linear-gradient(left, #d99b91, #ad6f59);
        background: -o-linear-gradient(left, #d99b91, #ad6f59);
        background: linear-gradient(90deg, #d99b91, #ad6f59);
        will-change: transform;
        -webkit-transition: -webkit-transform 0.48s cubic-bezier(0.7, 0.3, 0, 1);
        -moz-transition: -moz-transform 0.48s cubic-bezier(0.7, 0.3, 0, 1);
        transition: -webkit-transform 0.48s cubic-bezier(0.7, 0.3, 0, 1);
        -o-transition: transform 0.48s cubic-bezier(0.7, 0.3, 0, 1);
        transition: transform 0.48s cubic-bezier(0.7, 0.3, 0, 1);
        transition: transform 0.48s cubic-bezier(0.7, 0.3, 0, 1), -webkit-transform 0.48s cubic-bezier(0.7, 0.3, 0, 1); }
    .dside__send {
        width: 80%;
        display: flex;
        height: 38px;
        border: 1px solid red;
        margin-top: 50px;
        border-radius: 40px;
        cursor: pointer;
        border-image: url('../../sources/images/works__logo/rounded-rectangle-6.png') ;
        outline:none;
        background: none;
        border-image-slice: 33;
        border-image-width: 20;
        border-image-outset: 1;
        border-image-repeat: round;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .button__content{display: flex; -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        width: 100%;
    padding: 0 1em;}
    .button__content img {
        width: 40px;
        height: 1rem;
        display: -ms-flexbox;
        display: flex;
    }
    .whitespace {
        flex-grow: 1;
    }
    .dside__send span {
        margin-top: 4px;
        background-image: linear-gradient(to right, #da8c93 0%, #ae6058 100%);
        background-clip: text;
        color: #000000;
        font-size: 1.2rem;
        font-weight: 300;
        text-transform: uppercase;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

/* Tablets */

@media only screen and (min-width: 480px) {
.title__drop h3 {
    font-size: 1rem;
    font-weight: 700;
}

.question__form p {
    color: #000000;
    font-family: 'MontLight', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
}

.social__icons{display: flex;  align-items: center;}
.footer__content {
    max-width: 1200px;
    margin: 0 auto;
    padding:1rem 4rem;
}

.copyright > p {
    color: #000000;
    font-family: 'MontLight', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.copyright__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
    margin-top: 60px;
}

.sending__form {
    margin-top: 110px;
}


.button__content {
    display: flex;
    align-items: center;
}

.button__content p {
    padding-left: 16px;
    padding-top: 3px;
}

#form__dside {
    display: flex;
    flex-direction: column;
}

.inputs__send {
    display: flex;
}
.wrapper__name,
.wrapper__phone {
    width: 40%;
    display: flex;
}
.wrapper__phone{margin-left: 3rem;}


 .inputs__send {
        flex-direction: row;
    }

    .shining-underline-cf:hover span::before {
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    #phone {
    width: 480px;
    font-size: 0.9rem;
    }

    #name {
        width: 450px;
        font-size: 0.9rem;
    }
    .dside__send {
    width: 40%;
    }
    .dside__send span{font-size: 1rem;}
}
/* Laptop */

@media only screen and (min-width: 1024px) {
    .dside__send{width: 30%;}
    .social__icons{display: flex;  align-items: center;}
}
/* Fullpage */

@media only screen and (min-width: 1440px) {
.wrapper__name, .wrapper__phone {
    width: 25%;
}
    .dside__send {
    width: 17%;
}
    .copyright{font-size: .5rem;}
}

@media screen and (max-width: 768px) {
    .copyright__content {
        display: flex;
    flex-direction: column;
    align-items: center;
    }

    .copyright__content p {
        margin-bottom: 15px;
    }

    .copyright__content .social__icons {
        margin-bottom: 10px;
    }

    .copyright {
        order: 1;
    }
}

.holder span {
    position: relative;
}

.holder span::before {
 background: none;
}


.holder {
    position: absolute;
    margin: 7px 8px;
    color: #A3A3A3;
    cursor: auto;
    font-family: Helvetica;
    font-size: 11pt;
    z-index: 1;
    }

    .wrapper__name input,
    .wrapper__phone input {
        padding:5px;
        font-size:11pt;
    }