
footer {
    font-family: 'DSIDE-Light', sans-serif;
    width: 100%;
    font-size: 1rem;
}

footer a,
footer p,
footer span {
    text-decoration: none;
    color: #EBEDED;
    margin: 0;
}

footer ul {
    padding: 0;
    margin: 0;
    clear: both;
    display: flex;
    flex-direction: column;
}

footer ul li {
    list-style: none;
    float: left;
    text-decoration: none;
    clear: both;
    width: fit-content;
}

footer a,
footer button {
    outline: 0;
}

.text-center {
    text-align: center;
}

.footer__wrap__head {
    background-color: #11141D;
}

.footer__wrap__middle {
    background-color: #151821;
}

.footer__wrap__down {
    background-color: #11141C;

}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    min-width: 320px;
}

.footer__head {
    background-color: #11141D;
        padding: 1.6rem 0;
}

.footer__middle {
    background-color: #151821;
    padding: 4.7rem .2rem 1rem;

}
 .footer__content-logo > img {
        max-width: 120px;
        max-height: 100%;
    }
 .footer__head-mail{font-size: 28px;}
 .footer__content-info{font-size: 18px; padding-bottom: 2rem;}
 .footer__middle{padding: 2rem; text-align: center;  }
 .footer__content-services, .footer__content-about {display: none;}
  footer .footer__btn-send {
        cursor: pointer;
        background-color: transparent;
        color: #fff;
        border: 1px solid #B2725E;
        padding: 10px 17px 8px 26px;
        border-radius: 25px;
        font-size: 1rem;
        min-width: 215px;
        font-family: 'DSIDE-Light', sans-serif;
    }
footer .footer__btn-send img {
        margin-top: -3px;
        width: 14px;
        height: 1rem;
        padding-left: 6px;
        display: inline-block;
        vertical-align: middle;
        -webkit-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
 .footer__down {
        background-color: #11141B;
        color: #607198;
        padding: 1rem 2rem;
        font-size: 14px;
        text-align: center;
    }
 .mid-p{color: #607198; margin-top: 0.8rem;}
 .social__icons{display: none;}
/* Fullscreen */
@media only screen and (min-width: 1024px) {
    .footer__down,
    .footer__middle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        align-self: center;
        width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .footer__down {
        background-color: #11141B;
        padding: 1.5rem 0 1rem 0;

    }

    .footer__down p {
        font-size: .8rem;
        color: #5a6b75;
        justify-items: center;
    }

    .mid-p {
        flex-basis: 60%;
    }

    .footer__content-services,
    .footer__content-about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 22%;
        flex: 1 1 22%;
    }

    .footer__content-about {
        margin-left: 5rem;
    }

    .footer__content-send {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 15%;
        flex: 1 1 15%;
    }

    .footer__content-services,
    .footer__content-about {
        padding: 0;
    }

    .footer__content-services p,
    .footer__content-about p {
        text-transform: uppercase;
    }

    .footer__content-info {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 26%;
        flex: 1 1 26%;
        padding-bottom: 2rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 5px 0px;
    }

    .footer__content-info > p {
        font-size: 1rem;
        margin-bottom: 5px;
        color: #EBEDED;

    }

    .footer__content-services p,
    .footer__content-services li,
    .footer__content-about li,
    .footer__content-about p {
        margin-bottom: 15px;
        color: #EBEDED;
    }

    .footer__content-info a,
    .footer__content-info span,
    .footer__content-info p {
        color: #9093A1;
    }

    .footer__head-mail,
    .footer__content-about p,
    .footer__content-services p {
        font-family: 'DSIDE-Bold', sans-serif;
        font-size: 1rem;
    }

    .footer__head-mail:hover {
        -webkit-animation: flash 0.7s forwards linear 0.16s;
        -moz-animation: flash 0.7s forwards linear 0.16s;
        animation: flash 0.7s forwards linear 0.16s;
    }

    .footer__head-write {
        font-size: 1rem;
        min-width: 260px;
    }

    .footer__head-mail {
        display: block;
        margin-top: .2rem;
        font-size: 26px;
    }

    /*============= style for "footer__btn-send" ======*/

    footer .footer__btn-send:hover {
        -webkit-animation: flash .7s forwards linear .16s;
        animation: flash .7s forwards linear .16s
    }

    footer .footer__btn-send:hover > img {
        -webkit-transform: translateX(6px);
        -ms-transform: translateX(6px);
        transform: translateX(6px);
        -webkit-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
        -webkit-animation: flash .7s forwards linear .16s;
        animation: flash .7s forwards linear .16s;
    }


    .footer__content-logo {
        display: block;
        width: 120px;
        margin-bottom: 1rem;
    }

    .footer__content-logo p {
        line-height: 1.4;
    }

    .footer__content-logo > img {
        max-width: 120px;
        max-height: 100%;
    }

    .footer__icon-di img,
    .footer__icon-inst img {
        max-width: 100%;
        max-height: 100%;
    }

    .footer__icon-inst,
    .footer__icon-di {
        display: inline-block;
        height: 27px;
        width: 27px;
        margin: 0 11px;
    }
    .footer__middle {
        text-align: left;
    }
    .footer__btn-send:hover::before {
        -webkit-animation: flash 0.7s forwards linear 0.16s;
        -moz-animation: flash 0.7s forwards linear 0.16s;
        animation: flash 0.7s forwards linear 0.16s;
    }
    .footer__content-services, .footer__content-about {display: flex;}
    .social__icons {
        display: flex;
        align-items: center;
    }
}