
footer {
    font-family: 'DSIDE-Light', sans-serif;
    width: 100%;
    font-size: 14px;
}
footer a,
footer p,
footer span {
    text-decoration: none;
    color: #656986;
    margin: 0;
}
.heading-list span, .welcome span{font-size: 12px; font-family: 'DSIDE-Black',sans-serif; letter-spacing: 2px; color:#21243d;}
footer ul {
    padding: 0;
    margin: 0;
    clear: both;
    display: flex;
    flex-direction: column;
}

footer ul li {
    list-style: none;
    float: left;
    text-decoration: none;
    clear: both;
    width: fit-content;
}

footer a,
footer button {
    outline: 0;
}

.text-center {
    text-align: center;
}
.lines {
    padding-bottom: 385px;
    bottom: calc(100% - 2px);
    background-image: url('./footer-img.svg');
    background-size: 100% 100%;
    position: absolute;
    right:0;
    left:0;
    z-index: -1;
}
.welcome span{    text-transform: uppercase;
    color: #21243d;
    font-size: 12px;}
.footer__wrap__middle {
    position: relative;
    padding-top: 2em;
    background-color: #fff;
}
.footer__wrap__down {
    background-color: #fff;

}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    min-width: 320px;
}

.footer__head {
        padding: 1.6rem 0;

}

.footer__middle {
    padding: 4.7rem .2rem 1rem;

}
 .footer__content-logo > img {
        max-width: 120px;
        max-height: 100%;
    }
 .footer__head-mail{font-size: 28px;}
 .footer__content-info{font-size: 14px; padding-bottom: 2rem;}
 .footer__middle{padding: 2rem; text-align: center;  }
 .footer__content-services, .footer__content-about {display: none;}

 .footer__down {
        background-color: #fff;
        color: #81859c;
        padding: 1rem 2rem;
        font-size: 14px;
        text-align: center;
    }
 .mid-p{color: #21243d; margin-top: 0.8rem;}
 .social__icons{display: none;}
/* Tablets */
 @media only screen and (min-width: 480px) {

 }
/* Fullscreen */
@media only screen and (min-width: 1024px) {
    .footer__down,
    .footer__middle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        align-self: center;
        margin: 0 auto;
        justify-content: space-between;
    }

    .footer__down {
        background-color: #fff;
        align-items: center;

    }

    .footer__down p {
        font-size: 12px;
        color: #81859c;
        justify-items: center;
    }

    .mid-p {
        flex-basis: 60%;
        margin-top: 0;
    }

    .footer__content-services,
    .footer__content-about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 22%;
        flex: 1 1 22%;
    }

    .footer__content-about {
        margin-left: 5rem;
    }

    .footer__content-send {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 15%;
        flex: 1 1 15%;
    }

    .footer__content-services,
    .footer__content-about {
        padding: 0;
    }

    .footer__content-services p,
    .footer__content-about p {
        text-transform: uppercase;
    }

    .footer__content-info {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 26%;
        flex: 1 1 26%;
        padding-bottom: 2rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 5px 0px;
    }

    .footer__content-info > p {
        font-size: 14px;
        margin-bottom: 10px;
        color: #EBEDED;

    }

    .footer__content-services p,
    .footer__content-services li,
    .footer__content-about li,
    .footer__content-about p {
        margin-bottom: 15px;
        color: #EBEDED;
    }

    .footer__content-info a,
    .footer__content-info span,
    .footer__content-info p {
        color: #4e4d85;
    }
.welcome span{    text-transform: uppercase;
    color: #21243d;
    font-size: 12px;}
    .footer__head-mail,
    .footer__content-about p,
    .footer__content-services p {
        font-family: 'DSIDE-Bold', sans-serif;
        font-size: 14px;
    }

    .footer__head-mail:hover {
        -webkit-animation: flash 0.7s forwards linear 0.16s;
        -moz-animation: flash 0.7s forwards linear 0.16s;
        animation: flash 0.7s forwards linear 0.16s;
    }

    .footer__head-write {
        font-size: 1rem;
        min-width: 260px;
    }

    .footer__head-mail {
        display: block;
        margin-top: .2rem;
        font-size: 26px;
    }

    /*============= style for "footer__btn-send" ======*/

    footer .footer__btn-send:hover {
        -webkit-animation: flash .7s forwards linear .16s;
        animation: flash .7s forwards linear .16s
    }

    footer .footer__btn-send:hover > img {
        -webkit-transform: translateX(6px);
        -ms-transform: translateX(6px);
        transform: translateX(6px);
        -webkit-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
        -webkit-animation: flash .7s forwards linear .16s;
        animation: flash .7s forwards linear .16s;
    }


    .footer__content-logo {
        display: block;
        width: 120px;
        margin-bottom: 1rem;
    }

    .footer__content-logo p {
        line-height: 1.4;
    }

    .footer__content-logo > img {
        max-width: 120px;
        max-height: 100%;
    }

    .footer__icon-di img,
    .footer__icon-inst img {
        max-width: 100%;
        max-height: 100%;
    }

    .footer__icon-inst,
    .footer__icon-di {
        display: inline-block;
        height: 27px;
        width: 27px;
        margin: 0 11px;
    }
    .footer__middle {
        text-align: left;
    }
    .footer__btn-send:hover::before {
        -webkit-animation: flash 0.7s forwards linear 0.16s;
        -moz-animation: flash 0.7s forwards linear 0.16s;
        animation: flash 0.7s forwards linear 0.16s;
    }
    .footer__content-services, .footer__content-about {display: flex;}
    .footer__content-services ul li{ pointer-events: none; cursor: no-drop; }
    .footer__content-services ul li a span{color: #21243d; cursor: no-drop; }
    .footer__content-services ul li a:hover{ cursor: no-drop; }
    .social__icons {
        display: flex;
        align-items: center;
    }
}
@media only screen and (min-width: 1400px) {
.footer__middle, .footer__down{width: 1200px;}
}