@font-face{
    font-family: 'DSIDE-Bold';
    src: url('components/sources/fonts/Mont-SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family: 'DSIDE-Light';
    src: url('components/sources/fonts/Mont-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'DSIDE-Black';
    src: url('components/sources/fonts/Mont-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Mont';
    src: url('components/sources/fonts/Mont-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Mont';
    src: url('components/sources/fonts/Mont-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}



.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
    transform: translateY(5px) scale(0.97);
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transform: translateY(0px) scale(1);
    transition: opacity 550ms linear, transform 300ms linear;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 550ms linear, transform 300ms linear;
}



.wrapper___layout {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom:10px;
}

.cookies-container {
    background: white;
    position: fixed;
    bottom: 0;
    padding: 1rem;
}

.cook__description {
    font-family: 'DSIDE-Light',sans-serif;
    font-size: 0.8rem;
    flex: 1 1 60%;
    padding: 1rem;
    text-align: left;
}

.privacy__warning {
    display: flex;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
    transform: scale(0.98) translate(0px,7px);
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transform: scale(1) translate(0px,0px);
    transition: opacity 550ms linear, transform 300ms linear;
}

.fade-exit {
    transform: scale(1) translate(0px,0px);
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transform: scale(0.98) translate(0px,7px);
    transition: opacity 550ms linear, transform 300ms linear;
}


.cook__button {
    flex: 1 1 12%;
    align-self: center;
    cursor: pointer;
    border: 1px solid #000;
}

.cook__button p {
    font-family: 'DSIDE-Bold',sans-serif;
    text-align: center;
    line-height: 1.1rem;
}
/* Laptops */
@media only screen and (min-width: 1024px) {
    .cookies-container {
    background: transparent;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0;
    align-self: center;
}
    .privacy__warning{
    max-width: 1200px;
    background: #fff;
    margin: 0 auto;
    padding: 0px 1rem;}
    .cook__description span{font-family: 'DSIDE-Bold',sans-serif;}
    .cook__description {
    font-family: 'DSIDE-Light',sans-serif;
    font-size: 0.8rem;
    flex: 1 1 75%;
    padding: 1rem 5rem 1rem 1rem;
    text-align: left;
}
}

body {
    margin: 0 !important;
}



