@font-face{
    font-family: 'DSIDE';
    src: url('components/sources/fonts/Mont-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}


@font-face{
    font-family: 'DSIDE';
    src: url('components/sources/fonts/Mont-Book.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'DSIDE';
    src: url('components/sources/fonts/Mont-Bold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
body{font-family: 'DSIDE',sans-serif;}
.arctic{color:#21243d}
.arctic-f{fill:#21243d}
.midnight{color: #3a416f}
.midnight-f{fill: #3a416f}
.background__cookies{width: unset; padding: 3rem 2rem}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
    /*transform: translateY(5px) scale(0.97);*/
}
#hippo, #elephant, #star{
  visibility:hidden;
}
#wow {
/*  border: 1px solid black; */
 display: block;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 stroke: black;
 stroke-width: 2;
 fill: black;

 width: 90%;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
   /* transform: translateY(0px) scale(1);*/
    transition: opacity 550ms linear, transform 300ms linear;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 550ms linear, transform 300ms linear;
}



.wrapper___layout {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom:10px;
}

.cookies-container {
    background: white;
    position: fixed;
    bottom: 0;
    padding: 1rem;
}

.cook__description {
    font-weight: 300;
    font-size: 0.8rem;
    flex: 1 1 70%;
    padding: 1rem;
    text-align: left;
}

.privacy__warning {
    display: flex;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
    /*transform: scale(0.98) translate(0px,7px);*/
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    /*transform: scale(1) translate(0px,0px);
    transition: opacity 550ms linear, transform 300ms linear;*/
}

.fade-exit {
    transform: scale(1) translate(0px,0px);
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transform: scale(0.98) translate(0px,7px);
    transition: opacity 550ms linear, transform 300ms linear;
}


.cook__button {
    flex: 1 1 40%;
    align-self: center;
    cursor: pointer;
    border: 1px solid #000;
}
.loader{
    background-image: -webkit-gradient( linear,left top, right top,from(#f5f5fa),color-stop(#fff),to(#f5f5fa) );
    background-image: -webkit-linear-gradient( left,#f5f5fa,#fff,#f5f5fa );
    background-image: -o-linear-gradient( left,#f5f5fa,#fff,#f5f5fa );
    background-image: linear-gradient( to right,#f5f5fa,#fff,#f5f5fa );
    height: 100%;
    width: 100%;
    position: fixed;
    z-index:1000;
    overflow: hidden;
}
.animlogo-preloader-path, .dot{fill: #fff;}
.loader span{color: #21243d; font-weight: 600; font-size: 14px; text-align: center;}
.loaded{overflow-y: visible;}
.cotton-bg-logo{fill:#F21E27;}
#preloaderlogo, .loading-text {
  display: block;
  margin: 20px auto;
  top: calc(50% - 100px);
  width:120px;
  position: relative;
}
.cook__button p {
    font-weight: 600;
    text-align: center;
    line-height: 1.1rem;
}
/* Laptops */
@media only screen and (min-width: 1024px) {
    .cookies-container {
    background: transparent;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0;
    align-self: center;
}
    .privacy__warning{
    max-width: 1200px;
    background: #fff;
    margin: 0 auto;
    padding: 0px 1rem;}
    .cook__description a{font-weight: 600;}
    .cook__description span{
    font-weight: 300;
    font-size: 0.8rem;
    flex: 1 1 75%;
    padding: 1rem 0rem 1rem 0rem;
    text-align: left;
}
.cook__button {
    flex: 1 1 12%;
    align-self: center;
    cursor: pointer;
    border: 1px solid #000;
}
  .background__cookies{width: 1200px;
    margin: 0 auto; padding-top: 200px;
    }
}

body {
    margin: 0 !important;
    overflow-y: hidden;
}



