

.portfolio-category__item p {
    color: #000000;
    font-family: 'MontBold', sans-serif;
    font-size: 16px;
    font-weight: 700;
}


.portfolio-category__item p sup {
    color: #000000;
    font-family: 'MontLight', sans-serif;
    font-size: 12px;
    margin-left: 2px;
}


.sorting__items-container {
    display: flex;
    align-items: center;
}

.portfolio__items-category {
    background: #F2F3F5;
    padding-bottom: 20px;
}

.portfolio-category__list {
    display: flex;
}


.sortby__type {
    display: flex;
}

.sorting-portfolio__wrapper {
    display: flex;
}

.portfolio__items-container,
.sorting__items-container {
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio__items-container {
    display: flex;
}

.portfolio-category__list {
    margin: 0;
    padding: 0;
}

.sorting__items-container {
    padding-top: 19px;
    padding-bottom: 19px;
}

.sorting__items-left {
    flex: 1 1 0;
}


.sorting-portfolio__wrapper .portfolio-sorting__date {
    color: #000000;
    font-family: 'MontBold', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.sortby__type div {
    color: #000000;
    font-family: 'MontLight', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.portfolio-category__item {
    margin-right: 70px;
    cursor: pointer;
}

.portfolio-sort__title {
    margin-right: 15px;
}

.portfolio-sorting__date {
    margin-left: 15px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .sorting__items-container {
        flex-direction: column;
    }
}


@media screen and (max-width: 768px) {
.portfolio-category__item {
    margin-right: 40px;
}
}



@media screen and (max-width:480px) {
.portfolio__items-container {
    flex-direction: column;
}

.portfolio-category__list {
    flex-direction: column;
}

}