.portfolio-category__item p {
        color: #21243d;
        font-family: 'DSIDE-Light', sans-serif;
        font-size: 22px;
        font-weight: 700;
    }

    .portfolio-category__item p sup {
        color:  #21243d;
        font-family: 'DSIDE-Light', sans-serif;
        font-size: 18px;
        margin-left: 2px;
    }

    .sorting__items-container {
        display: flex;
        align-items: center;
    }
    .sorting__items-right{display: none;}
    .wrapper-row {
             width: auto;
    padding: 0 2rem 0 2rem;
    margin: 0 auto;
    }

    .portfolio__items-category {
        padding-bottom: 20px;
        padding-top: 7rem;
    }

    .portfolio-category__list {
    margin: 0;
    padding: 0;
    display: none;
        list-style: none;
    flex-direction: column;
}

    .sortby__type {
        display: flex;
    }

    .sorting-portfolio__wrapper {
        display: flex;
    }

    .portfolio__items-container,
    .sorting__items-container {
        width: 100%;
        margin: 0 auto;
    }

    .portfolio__items-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .grid {
        flex-basis: 33.333%;
    }

    .portfolio-category__list {
        margin: 0;
        padding: 0;
    }

    .sorting__items-container {
        padding-top: 19px;
        padding-bottom: 19px;
    }

    .sorting__items-left {
        flex: 1 1 0;
    }

    .sorting-portfolio__wrapper .portfolio-sorting__date {
        color:  #21243d;
        font-family: 'DSIDE-Bold', sans-serif;
        font-size: 14px;
        font-weight: 700;
    }

    .wrapper-row h2 {
        font-size: 28px;
        margin-top: 12rem;
        font-family: 'DSIDE-Bold', sans-serif;
    }

    .sortby__type div {
        color: #21243d;
        font-family: 'DSIDE-Light', sans-serif;
        font-size: 14px;
        font-weight: 300;
    }

    .portfolio-category__item {
        margin-right: 70px;
        cursor: pointer;
        transition: .3s all;
    }

    .portfolio-category__item:hover {
        background-image: -moz-linear-gradient(left,  #21243d 0%, #182470 100%);
        background-image: -webkit-linear-gradient(left,  #21243d 0%,#182470 100%);
        background-image: linear-gradient(to right,  #21243d 0%,#182470 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: flash .7s forwards linear .16s;
        animation: flash .7s forwards linear .16s
    }

    .portfolio-sort__title {
        margin-right: 15px;
    }

    .portfolio-sorting__date {
        margin-left: 15px;
        cursor: pointer;
    }
/* Tablets */
 @media only screen and (min-width: 480px) {
 .portfolio-category__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    flex-direction: row;
}
     .portfolio-category__item{ margin-right: 40px;}
     .portfolio-category__item p{font-size: 15px;}
     .portfolio-category__item p sup{font-size: 12px;}
 }
/* Fullscreen */
@media only screen and (min-width: 1024px) {
    .portfolio-category__item p {
        color: #656986;
        font-family: 'DSIDE-Light', sans-serif;
        font-size: 14px;
        font-weight: 700;
    }
        .portfolio-category__list {display: flex;}
    .portfolio-category__item p sup {
        color: #656986;
        font-family: 'DSIDE-Light', sans-serif;
        font-size: 12px;
        margin-left: 2px;
    }

    .sorting__items-container {
        display: flex;
        align-items: center;
    }

  .wrapper-row{ padding: 0 3rem 0 3rem;}

    .portfolio__items-category {
        padding-bottom: 20px;
        padding-top: 7rem;
    }

    .portfolio-category__list {
        display: flex;
        list-style: none;
    }

    .sortby__type {
        display: flex;
    }

    .sorting-portfolio__wrapper {
        display: flex;
    }

    .portfolio__items-container,
    .sorting__items-container {
        width: 100%;
        margin: 0 auto;
    }

    .portfolio__items-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .grid {
        flex-basis: 33.333%;
    }

    .portfolio-category__list {
        margin: 0;
        padding: 0;
    }

    .sorting__items-container {
        padding-top: 19px;
        padding-bottom: 19px;
    }

    .sorting__items-left {
        flex: 1 1 0;
    }

    .sorting-portfolio__wrapper .portfolio-sorting__date {
        color: #000000;
        font-family: 'DSIDE-light', sans-serif;
        font-size: 14px;
        font-weight: 700;
    }

    .wrapper-row h2 {
        font-size: 42px;
        margin-top: 12rem;
    }

    .sortby__type div {
        color: #000000;
        font-family: 'DSIDE-Light', sans-serif;
        font-size: 14px;
        font-weight: 300;
    }

    .portfolio-category__item {
        margin-right: 70px;
        cursor: pointer;
        transition: .3s all;
    }

    .portfolio-category__item:hover {
        background-image: -moz-linear-gradient(left,  #21243d 0%, #182470 100%);
        background-image: -webkit-linear-gradient(left,  #21243d 0%,#182470 100%);
        background-image: linear-gradient(to right,  #21243d 0%,#182470 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: flash .7s forwards linear .16s;
        animation: flash .7s forwards linear .16s
    }

    .portfolio-sort__title {
        margin-right: 15px;
    }

    .portfolio-sorting__date {
        margin-left: 15px;
        cursor: pointer;
    }
}
@media only screen and (min-width: 1400px) {
.wrapper-row {
    width: 1200px;
    margin: 0 auto;
    padding: 0 11rem;
}
}