.blog__post-container {
    max-width: 1200px;
    margin: 0 auto;
}


.left__img {
    background-size: cover;
    width: 445px;
    height: 702px;
}

.content__body-post p {
    color: #000000;
    font-family: 'MontLight', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 29.87px;
    margin-top: 0;
}

.portfolio_content__posts {
    display: flex;
    padding-top: 25px;
}

.right__content-post {
    padding-right: 54px;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .left__content-post {
        display: none;
    }

    .portfolio_content__posts {
        padding-top: 0;
    }

    .content__body-post p {
       font-size: 0.75rem;
    }
}

.left__redirect-title {
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'MontBold', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
}

.left__redirect-content p {
    font-size: 1rem;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "MontLight";
    font-weight: 300;
}

.content__left-post {
    position: absolute;
    top: 100px;
    left: 50px;
    display: flex;
}

.left__redirect-content {
    max-width: 250px;
    align-self: center;
    margin-right: 40px;
}


.left__img {
    border-radius: 30px;
    position: relative;
}


