/* Mobile-First Home Services */
    .content__services {
        margin-right: 40px;
        margin-left: 40px;
        font-family: 'MontLight', sans-serif;
    }

    .title__service h4 {
        font-size: 1.6rem;
    }
    .title__service h2 {
        font-size: 1.8rem;
    }
    .title__service p {
        font-size: 1.2rem;
        padding: 0 0 3rem 0;
        line-height: 1.8rem;
    }

    .list li:first-child {
        display: inline-block;
    }

    .content__services {
        display: flex;
        flex-direction: column;
    }

      .services {
        flex-direction: column;
        align-items: center;
    }

    .content__services .title__service {
        display: block;
        margin-bottom: -30px;
    }
ul{ margin: 0; padding:0 0 2rem 0;}
ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1.2rem;
}

.listwrapper{display: flex;  flex-wrap: wrap; flex-direction: column;}
.list li:first-child {
    color: #000000;
    font-family: 'MontBold', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 9.87px;
    text-transform: uppercase;
}

.list li a{text-decoration: underline; color: #000; display: inline-block}
.list li {
    color: #112537;
    font-family: 'MontLight', sans-serif;
    margin-bottom: 10px;
    font-weight: 300;
}

.listwrapper div .list li a {
    text-decoration: none;
}

/* Tablets */

@media only screen and (min-width: 480px) {
.title__service h4 {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #da8c93 0%, #ae6058 100%);
    opacity: .5;
    color: #000000;
    font-family: 'MontBold', sans-serif;
    font-size: 18px;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{ font-family: 'MontLight', sans-serif; font-size: 14px; line-height: 1.6em;}
h2{ font-family: 'MontLight', sans-serif; font-size: 1.4em;}

.content__services {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 100px;
}

.services {
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
}

.title__service {
    flex: 1;
}

.button__service {
    background-image: linear-gradient(to right, #da8c93 0%, #ae6058 100%);
    opacity: 0.3;
}

.more__about-service {
outline: none;
    border: none;
    margin-top: 0px;
    padding: 0;
    background: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 6px;
    color: rgb(12,16,16);
    font-family: "MontBold", 'sans-serif' ;
    font-weight: 300;
    transition: 0.3s;
}

.more__about-service:after {
    opacity: 0;
}

.more__about-service button {
    position: relative;
    margin-left: -7px;

}
.listwrapper{flex-direction: row; margin-top: 2rem; justify-content: space-between;}

.services .list li a{
    text-decoration: none;
    color: black;
    list-style-type: none;
}
.content__services .title__service{display: flex; flex-direction: column;flex: 1 1 40%; }
.listwrapper{flex: 1 1 60%;    margin-left: 3rem; }
.listwrapper div{flex: 1 1 50%;}
.services{flex-direction: row;    align-items: baseline;}
.title__service p{font-size: 1em;}

}
@media only screen and (min-width: 1024px) {
    .shining-underline span{display: block;}
}
@media only screen and (min-width: 1440px) {
    .listwrapper{flex: 1 1 80%; margin-left: 4rem;}
    .services{padding: 0 0;
     align-items: center;}
    ul li{font-size: .8em;}
    .title__service h4{font-size: 1rem;}
    .title__service h2{font-size: 1.6rem;}
    .list__services-websites{margin-right: 1rem;}
    .title__service p{font-size: .8rem;}
    .listwrapper div{flex: 1 1 17%;}
    .title__service { flex: 1 1 20%;  }
    .list__services-videos{margin-left: 1rem;}
    .list__services-branding{flex: 1 1 15% !important;}
}