@font-face{
    font-family: 'MontBold';
    src: url('components/sources/fonts/Mont-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'MontLight';
    src: url('components/sources/fonts/Mont-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}