#cu-advantages .cu-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
}
.advantages-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 1rem 1rem 1rem;
}

img.adv-icon {
    width: 4rem;
    margin-bottom: 15px;
}

.advantage {
    text-align: center;
    font-family: 'DSIDE-Light',sans-serif;
    font-weight: 400;
    flex: .3 1 40%;
    margin-top: 2rem;
}

#cu-we-iter {
    background: #ffffff;
}

.cu-we-iter {
    font-family: 'DSIDE-Light', sans-serif;
    font-weight: 400;
    flex: .3 1 40%;
    margin-top: 2rem;
}
.ketchupp{}
#iter h3{margin: 0 !important; padding: 0;}
.advantage-heading {
    font-size: 1rem;
    text-transform: uppercase;
    max-width: 200px;
    line-height: 1.4rem;
    margin: auto;
    font-family: 'DSIDE-Bold',sans-serif;
}

.advantage-text {
    display: none;
}
 #cu-we-care {
    color: #fff;
    background: #030305 url("we-care.png") no-repeat;
    background-size: cover;
    background-position: 9% 20%;
}

 #cu-advantages {
     background: #ffffff;
 }
.convupper-block {
    max-width: 1920px;
    margin: auto;
}
#cu-advantages h3 {
    font-size: 1.8em;
    font-family: 'DSIDE-Bold',sans-serif;
    margin-top: 0;
    padding: 0rem 1rem 1rem 1rem;
}
#cu-we-care .text p {
    font-family: 'DSIDE-Light',sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    width: initial;
     padding: 1rem 7rem 2em 2rem;
}

.cu-wrapper {
    display: flex;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
}

#cu-we-care .cu-wrapper{
    justify-content: flex-end;
}


#cu-we-care hr {
    border: none;
    height: 1px;
    background: #905241;
    width: 15rem;
    margin-left: 2rem;
}
.cu-content h3{font-size: 1.8em;
    font-family: 'DSIDE-Bold',sans-serif;
    margin-top: 0;
    padding: 3rem 0rem 0rem 2rem;}
.text p {
    margin-top: 22px;
}

#cu-own {
    background-size: auto 328px;
    padding: 2rem 2rem;
}

.own-container{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    margin: auto;
    max-width: 1075px;
}

.own-instance{
    display: flex;
    flex-direction: column;
        flex-basis: 30%;
}
.own-instance:nth-child(4){display: none;}
.own-instance:nth-child(3){display: none;}
.own-instance img {
    width: 6.4rem;
    height: 10rem;
    margin-bottom: 1rem;
}

.own-instance .own-heading, .own-instance .own-desc{
    font-family: Mont;
    font-weight: 600;
    text-transform: uppercase;
    margin:auto;
}

.own-desc span {
    text-transform: uppercase;
}

.own-instance .own-heading {
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 7px;
}
.own-heading {
    text-transform: uppercase;
}

.own-heading.doctor{
    color: #6c87c2;
}
.own-heading.barber{
    color: #9cbfe4;
}
.own-heading.coach{
    color: #ff8d79;
}
.own-heading.cms{
    color: #3a393c;
}
.own-heading.hero{
    color: #ec362e;
}



#cu-own .cu-content {
    width: 100%;
}

#cu-own hr {

    width: 265px;
    padding-top: 11px;
    border: none;
    border-bottom: 1px solid #fff;
}
.cu-heading {
    left: 0;
    color: #fff;
    font-family: Mont;
    display: flex;
}

.cu-heading .text{
    margin-left: 30px;
    line-height: 29px;

}

.dside-promo{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 2rem 0 0 0;
}
.dside-promo img{ width: 50%;
    height:auto; margin: 2rem auto;}
.dside-promo .text {
    max-width: 500px;
    text-transform: uppercase;
    font-family: Mont;
    font-weight: 400;
    line-height: 31px;
    margin-top: -8px;
    text-align: center;
}
.ketchupp{width: 100%; height: auto;}
.iterimage{    flex-basis: 50%;}
.iter{
     display: flex;  flex-direction: column;}
.iter{padding: 1rem 3rem;}
#iter{flex-basis: 50%;}
#iter .text{font-family: 'DSIDE-Light',sans-serif; font-size: 1.2rem; flex-basis: 50%;}
/* Tablets */
@media only screen and (min-width: 480px) {
    .iter{  flex-direction: row;     flex-wrap: wrap;}
.own-instance  {flex-basis: 20%;}
#care{background: rgba(0, 0, 0, 0.71);}
#cu-we-care {
    background-position: 0% 0%;
}
.own-instance img {
    height: 16rem;
    width: 8.8rem;
}
.own-instance:last-child img{width: 9.7rem;}
.own-container{padding-top: 10rem;}
.own-instance .own-heading, .own-instance .own-desc{text-align: center}
.dside-promo .text{
    font-family: 'DSIDE-Light', sans-serif;
    line-height: 31px;
    text-align: center;
    margin: 0 auto;
    padding-top: 1rem;}
.convupper-block {
    background-size: 100% auto;

    display: flex;
    align-items: center;
}

#cu-own.convupper-block {
    height: unset;
    position: relative;
    display: block;
}


.convupper-block h3 {
    font-size: 1.3em;
    margin-bottom: 14px;
    margin-top: 54px;
}
img.dside-logo {
    width: auto;
    padding: initial;
    height: auto;
    max-height: 75px;
    display: block;
}
.advantage-text {
    font-size: .8rem;
    line-height: 25px;
    margin-top: 10px;
    display: flex;
}
#cu-advantages .cu-content {
    padding: 2rem;
}
}
/* Laptops */
@media only screen and (min-width: 1024px) {
    .own-instance:nth-child(4){display: flex;}
.own-instance:nth-child(3){display: flex;}
.own-instance img {
    height: 20rem;
    widht: 11rem;
}
.own-instance:last-child img{width: 12.5rem;}
.dside-promo{padding: 4rem 0 0 0;}
.own-container {
    padding-top: 7rem;
}
img.dside-logo{    width: 10%;}
    #cu-we-care .cu-wrapper {
    -ms-flex-pack: end;
    justify-content: flex-end;
    }
    #care{background: transparent;}
    #cu-we-care .cu-content{
flex-basis: 670px;
    }
    .advantage {
        flex: 0.1 1 22%;
}
    #cu-we-care {
    background-position: 29% 0%;
}
    #cu-we-care .text p{font-size: .8rem; line-height: 1.2rem}
    .convupper-block h3{font-size: 1.8rem;}
    .cu-heading {  padding-top: 3rem;  }
    img.adv-icon{
        width: 3rem;
    }
    .advantage-heading{
        font-size: .76rem;
    }
}
/* Full */
@media only screen and (min-width: 1024px) {
    .own-instance img {
    height: 340px;
    width: 185px;
    }
    .own-instance:last-child img {width: 210px;}
    .cu-heading{    width: 60%;}
    img.adv-icon{
        width: 4rem;
    }
    .advantage-heading{
        font-size: 1rem;
    }
}